<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form action="/seterctypeName1" method="post">
        测试数据: <input type="text" name="username"/>
        <br/>
        <br/>
        测试数据: <input type="password1" name="password"/>
        <br/>
        <br/>
        测试数据: <input type="password2" name="password"/>
        <br/>
        <br/>
        测试数据: <input type="password3" name="password"/>
        <br/>
        <br/>
        测试数据: <input type="password4" name="password"/>
        <br/>
        <br/>
        测试数据: <input type="password5" name="password"/>
        <br/>
        <br/>
        测试数据: <input type="password6" name="password"/>
        <br/>
        <br/>
        <button type="submit">提交</button>
    </form>

</body>
</html>
